rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rounds/{round} {
    	allow read: if request.auth.uid != null && (resource.data.playerOneUid == request.auth.uid || resource.data.playerTwoUid == request.auth.uid || resource.data.playerTwoUid == null)
      allow write: if request.auth.uid != null // TODO
    }
    match /users-online/{uid} {
    	allow read: if request.auth.uid != null
    }
  }
}
