.card {
  width: 2.25in;
  height: 3.11in;
  flex-basis: 3.11in;
  flex-shrink: 0;
  border-radius: 0.13in;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  border: 3px solid black;
  box-shadow: 0 0 9px 0 #444;
  margin-bottom: 10px;
}

.card-header {
  height: 27.5%;

  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;

  padding: 6px 8px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -0.4px;
}

.card-rank {
  font-size: 80px;
  position: relative;
  top: -20px;
  width: 40px;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  margin-right: 8px;
}

.card-specification {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.card-title {
  font-size: 20px;
}

.card-description {
  font-size: 10px;
  margin: auto 0px;
}

.card-header-air {
  background-color: #5f5950;
}

.card-header-land {
  background-color: #5d6e3a;
}

.card-header-sea {
  background-color: #3c6571;
}

.card-art {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
